In [27]:
import numpy as np
import pandas as pd
import kagglehub
import os
import matplotlib.pyplot as plt

# Pandas "Read & Write"
      I/O

Imports

read data file

In [28]:
read = pd.read_csv("/content/ratings_small.csv")

Write data file

In [29]:
write = read.to_csv("/content/ratings_small.csv")

In [30]:
data = read
print(data)

        userId  movieId  rating     timestamp
0            1     31.0     2.5  1.260759e+09
1            1   1029.0     3.0  1.260759e+09
2            1   1061.0     3.0  1.260759e+09
3            1   1129.0     2.0  1.260759e+09
4            1   1172.0     4.0  1.260759e+09
...        ...      ...     ...           ...
99999      671   6268.0     2.5  1.065579e+09
100000     671   6269.0     4.0  1.065149e+09
100001     671   6365.0     4.0  1.070940e+09
100002     671   6385.0     2.5  1.070980e+09
100003     671   6565.0     3.5  1.074785e+09

[100004 rows x 4 columns]

# DataFrame

The dataframe in python is nothing but 2-D array

In [31]:
df = pd.DataFrame(data)
print(df)

        userId  movieId  rating     timestamp
0            1     31.0     2.5  1.260759e+09
1            1   1029.0     3.0  1.260759e+09
2            1   1061.0     3.0  1.260759e+09
3            1   1129.0     2.0  1.260759e+09
4            1   1172.0     4.0  1.260759e+09
...        ...      ...     ...           ...
99999      671   6268.0     2.5  1.065579e+09
100000     671   6269.0     4.0  1.065149e+09
100001     671   6365.0     4.0  1.070940e+09
100002     671   6385.0     2.5  1.070980e+09
100003     671   6565.0     3.5  1.074785e+09

[100004 rows x 4 columns]

Locate Row
As you can see from the result above, the DataFrame is like a table with rows and columns.

Pandas use the loc attribute to return one or more specified row(s)

In [32]:
print(df.loc[0])

userId       1.000000e+00
movieId      3.100000e+01
rating       2.500000e+00
timestamp    1.260759e+09
Name: 0, dtype: float64

In [33]:
print(len(df))

100004

this show there are 100004 Rows and 4 columns

In [34]:
print(df.shape) # (Rows, Column)

(100004, 4)

To print Top N rows and Bottom N rows

In [35]:
# top N rows, if you do not pass any value here, it takes 5 by default.
print(df.head())
# Bottom N rows, replace with desired number of rows
print(df.tail(10))

   userId  movieId  rating     timestamp
0       1     31.0     2.5  1.260759e+09
1       1   1029.0     3.0  1.260759e+09
2       1   1061.0     3.0  1.260759e+09
3       1   1129.0     2.0  1.260759e+09
4       1   1172.0     4.0  1.260759e+09
        userId  movieId  rating     timestamp
99994      671   5952.0     5.0  1.063503e+09
99995      671   5989.0     4.0  1.064891e+09
99996      671   5991.0     4.5  1.064245e+09
99997      671   5995.0     4.0  1.066793e+09
99998      671   6212.0     2.5  1.065149e+09
99999      671   6268.0     2.5  1.065579e+09
100000     671   6269.0     4.0  1.065149e+09
100001     671   6365.0     4.0  1.070940e+09
100002     671   6385.0     2.5  1.070980e+09
100003     671   6565.0     3.5  1.074785e+09

In [36]:
df["movieId"].unique()

array([  31., 1029., 1061., ...,  129., 4736., 6425.])

In [37]:
df["movieId"].nunique()

9066

In [38]:
df.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [39]:
df.index

RangeIndex(start=0, stop=100004, step=1)

In [40]:
df.dtypes

userId         int64
movieId      float64
rating       float64
timestamp    float64
dtype: object

#Stats
`df.describe()`/
`df.info()`/
`df.mean()/df.median()/df.mode()/df.std()`

In [41]:
print(df.describe())

              userId        movieId         rating     timestamp
count  100004.000000   99996.000000  100004.000000  9.999600e+04
mean      347.011310   12549.564313       3.543608  1.129651e+09
std       195.163838   26370.060324       1.058064  1.916854e+08
min         1.000000       1.000000       0.500000  7.896520e+08
25%       182.000000    1028.000000       3.000000  9.658492e+08
50%       367.000000    2407.000000       4.000000  1.110497e+09
75%       520.000000    5418.000000       4.000000  1.296193e+09
max       671.000000  163949.000000       5.000000  1.476641e+09

In [42]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    99996 non-null   float64
 2   rating     100004 non-null  float64
 3   timestamp  99996 non-null   float64
dtypes: float64(3), int64(1)
memory usage: 3.1 MB
None

In [43]:
df.mean()

userId       3.470113e+02
movieId      1.254956e+04
rating       3.543608e+00
timestamp    1.129651e+09
dtype: float64

In [44]:
df.mode()

   userId  movieId  rating     timestamp
0     547    356.0     4.0  1.469278e+09

In [45]:
df.median()

userId       3.670000e+02
movieId      2.407000e+03
rating       4.000000e+00
timestamp    1.110497e+09
dtype: float64

In [46]:
df.std()

userId       1.951638e+02
movieId      2.637006e+04
rating       1.058064e+00
timestamp    1.916854e+08
dtype: float64

# Name index
With the index argument, you can name your own indexes.
#Data Cleaning
Data cleaning means fixing bad data in your data set.

Bad data could be:

Empty cells
Data in wrong format
Wrong data
Duplicates

Empty Cells can potentially give you a wrong result when you analyze data

In [48]:
# the drop na method will method return a DataFrame, and will not change the original.
new = df.dropna() # If you want to make changes in main DataFrame you can use "df.dropna(inplace = True)"
print(new)
print(new.shape)
# print(new.to_string())

        userId  movieId  rating     timestamp
0            1     31.0     2.5  1.260759e+09
1            1   1029.0     3.0  1.260759e+09
2            1   1061.0     3.0  1.260759e+09
3            1   1129.0     2.0  1.260759e+09
4            1   1172.0     4.0  1.260759e+09
...        ...      ...     ...           ...
99999      671   6268.0     2.5  1.065579e+09
100000     671   6269.0     4.0  1.065149e+09
100001     671   6365.0     4.0  1.070940e+09
100002     671   6385.0     2.5  1.070980e+09
100003     671   6565.0     3.5  1.074785e+09

[99988 rows x 4 columns]
(99988, 4)

To find the empty

In [53]:
# print(df.isnull().sum())
print(df.isna().sum())
# both the methods are same and if we use ".sum()" in the end it will give us the total number or empty sets

userId       0
movieId      8
rating       0
timestamp    8
dtype: int64

**To replace the empty values**



another way of dealing with empty cell is to insert a new value insted.
This way you don't have to delete the entire rows just because of some empty cells.

The `fillna()` method allow us to fill vale in empty cells

**Filling Based on Data**

Pandas provides methods for intelligent filling based on the existing data:
- `method='ffill'` (Forward Fill): Replaces missing values with the previous valid value along the column.
- `method='bfill'` (Backward Fill): Replaces missing values with the next valid value along the column.

In [59]:
print(df.fillna(130,inplace = True))
df.isna().sum()

None

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

See now there is no empty column or row in the CSV file

Another way to do this is to fill forward and fill backward

In [60]:
df.fillna(method = 'ffill', inplace=True) # Replace the bfill for the backward

<ipython-input-60-724e621c61f7>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = 'ffill', inplace=True) # Replace the bfill for the backward